<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="File" name="rollingLog" fileName="Logs\Logs.log" encoding="utf-8" layout="${date:format=dd.MM.yyyy HH\:mm\:ss.fff} ${level:uppercase=true} - ${message:exceptionSeparator=\r\n:withException=true}" archiveFileName="Logs\Archived\Logs.log" archiveAboveSize="100000" maxArchiveFiles="1"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="rollingLog"/>
  </rules>
</nlog>